* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* UNIVERSAL CODE */

h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.par {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.page3 {
    text-align: center;
}


/* LOGO FLEX */
.jadval {
    width: 1200px;
    margin: 0 auto;
    background-color: #b9b9b9;
    border-radius: 19px;
    border: 5px solid black;
    margin-top: 80px;
    text-align: center;
}

.logolar {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* LOGOLAR */

.logo {
    width: 150px;
    height: 150px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
}

.logo1 {
    background-image: url('./img/BMW.svg.png');
}

.logo2 {
    background-image: url('./img/audilogo.png');
}

.logo3 {
    background-image: url('./img/Mercedes-Logo.svg.png');
}

.logo4 {
    background-image: url('./img/volkswagen-1-logo-svgrepo-com.svg');
}

.logo5 {
    background-image: url('./img/volvo-svgrepo-com.svg');
}



/* TITLE */

.title1 {
    width: 1191px;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.secundpage {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}